
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-sleep:before { content: '\e803'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */