* {
  transition: .25s ease-in-out;
  box-sizing: border-box;
}

body{
    background-color: rgba(137, 196, 244,0.5);
}

h1 {
  text-align: center;
  padding: 100px 0 50px 0;
  font-family: helvetica neue,helvetica,arial,sans-serif;
  font-weight: 100;
  font-size: 50px;
  line-height: 50px;
}

.rating-widget {
  max-width: 500px;
  text-align: center;
  margin: 0px auto;
}
.rating-widget .star-input {
  width: 0;
  height: 0;
  position: absolute;
  left: -5000px;
}
.rating-widget .star-input:checked + .star-input-label .orange {
  animation: enlarge .5s ease-in-out forwards;
}
.rating-widget .star-input:checked + .star-input-label:nth-of-type(2) .orange {
  animation-delay: .1s;
}
.rating-widget .star-input:checked + .star-input-label:nth-of-type(3) .orange {
  animation-delay: .2s;
}
.rating-widget .star-input:checked + .star-input-label:nth-of-type(4) .orange {
  animation-delay: .3s;
}
.rating-widget .star-input:checked + .star-input-label:nth-of-type(5) .orange {
  animation-delay: .4s;
}
.rating-widget .star-input-label {
  display: inline-block;
  padding: 8px 2px;
  text-indent: -5000px;
  line-height: 0;
  color: #dcdcdc;
  position: relative;
  cursor: pointer;
}
.rating-widget .star-input-label:hover, .rating-widget .star-input-label.hovered {
  color: #a7a7a7;
}
.rating-widget .star-input-label i {
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-indent: 0;
}
.rating-widget .star-input-label i.orange {
  position: absolute;
  display: block;
  padding: 8px 2px;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  color: orange;
  transform: scale(0);
}

@keyframes enlarge {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}



<style>/*
 * Bootstrap v2.2.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
small {
  font-size: 85%;
}
h1 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small {
  font-weight: normal;
  line-height: 1;
  color: #999;
}
h1 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h1 small {
  font-size: 24.5px;
}
body {
  margin-top: 90px;
}
.header {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -480px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  z-index: 10;
}
.footer {
  color: #ddd;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}
.footer a {
  color: #ccc;
  text-decoration: underline;
}
.the-icons {
  font-size: 14px;
  line-height: 24px;
}
.switch {
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #666;
}
.switch input {
  margin-right: 0.3em;
}
.codesOn .i-name {
  display: none;
}
.codesOn .i-code {
  display: inline;
}
.i-code {
  display: none;
}
@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?29060623');
      src: url('./font/fontello.eot?29060623#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?29060623') format('woff'),
           url('./font/fontello.ttf?29060623') format('truetype'),
           url('./font/fontello.svg?29060623#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
     
     
    .demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
  
  
  /* New smileys */
.ratingg {
  max-width: 900px;
  text-align: center;
  margin: 0px auto;
}

.ratingg .input-hidden {
  position: absolute;
  left: -9999px;
  
}

/* .ratingg input[type=radio]:checked + label>img { */
 /* filter: contrast(1.6); */
/* } */



/* .ratingg input[type=radio]:not(:checked) + label>img { */
  /* -webkit-filter: opacity(.3);  */
   /* filter: opacity(.3);  */
 /* }  */

 /* .ratingg input[type=radio]:not(:checked) + label>img:nth-of-type(3) { */
  /* -webkit-filter: opacity(.2);  */
   /* filter: opacity(.2);  */
 /* } */
 /* .ratingg input[type=radio]:not(:checked) + label>img:nth-of-type(4) { */
  /* -webkit-filter: opacity(.2);  */
   /* filter: opacity(.2);  */
 /* } */
/* .op{ */
	/* -webkit-filter: opacity(.2);  */
  /* filter: opacity(.2);  */
/* } */

/* Stuff after this is only to make things more pretty */
.ratingg input[type=radio] + label>img {
	
 padding:10px;
  width: 70px;
  height: 70px;
  transition: 500ms all;
   display: block; 
}




.ratingg input[type=radio] + label>img:hover {
 
 /* transform:  */
    /* rotateZ(360deg) ; */
}

.ratingg input[type=radio]:checked + label>img {
 filter:contrast(500%);
  
}
.ratingg input[type=radio]:checked + label>img {
 animation: enlarge 1s ease-in-out  forwards
  
}

@keyframes enlarge {
  from {
    transform: scale(0.80);
  }
  
  to {
    transform: scale(1.25);
	
	
}
 }